extends layout

block content
  .main-container
    if username
      .is-login 已经登录
        h3 Hello #{username}
        a(href="/signout") Sign out
    else
      .no-login 未登录
        .sigup
          a(href="/signup") Signup
        .sigin
          a(href="/signin") Signin
    .access-count
      span access count:#{count}
