extends layout

block content
  form(action="/signin", method="post")
    .username
      label Username:
      input(type="text", name="username", value="test1")
    .password
      label Password:
      input(type="password", name="password", value="111111")
    .submit
      button(type="submit") Login
  form(action="/micro", method="post")
    .password
      label MicroPassword:
      input(type="password", placehold="请输入微令" name="password", value="222222")
    .submit
      button(type="submit") Micro Login